#main {
    height: 100vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#main-column {
    border: none;
    border-radius: 0px;
}

#heading {
    height: 10vh;
    padding: 0 0.4vh;
    /*background-color: #bcd4e6;*/
    /*border-bottom: thin solid grey;*/
}

#body {
    height: 80vh;
    padding: 0 1vh 1vh 1vh;
}

#body-inner {
    border: none;
    border-radius: 5px;
    height: 100%;
    /*width: 100%;*/
}

.body-column {
    height: 100%;
    width: 100%;
    padding: 1vh;
    border: None;
    border-radius: 5px;
}