@font-face {
    font-family: 'GothamBold'; /*a name to be used later*/
    src: url('fonts/GothamBold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'GothamMedium'; /*a name to be used later*/
    src: url('fonts/GothamMedium.ttf'); /*URL to font*/
    ascent-override: 70%;
}

#main {
    height: 100vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

#main-column {
    border: none;
    border-radius: 0px;
}

#heading {
    height: 10vh;
    padding: 0 0.4vh;
    /*background-color: #bcd4e6;*/
    /*border-bottom: thin solid grey;*/
}

#body {
    height: 80vh;
    padding: 0 1vh 1vh 1vh;
}

body, html {
    /*background-color: #252020;*/
}

#body-inner {
    border: none;
    border-radius: 5px;
    height: 100%;
    /*width: 100%;*/
}

.body-column {
    height: 100%;
    width: 100%;
    padding: 1vh;
    border: None;
    border-radius: 5px;
}

h1 {
    padding-top: 0%;
    color: #1DB954;
    font-size: 64px;
    font-family: GothamBold;
}

body {
    margin-left: 15%;
    margin-right: 15%;
}

h2 {
    color: #1DB954;
    font-family: GothamMedium;
}

h3 {
    color: #1DB954;
    font-family: GothamMedium;
}

p {
    color: rgba(7, 51, 26, 0.37);
    font-family: GothamMedium;
    font-size: 24px;
}

.row {
    margin-top: 15%;
}

.form-select {
    background-color: #1DB954;
    font-family: GothamMedium;
    color: white;
    margin-bottom: 20px;
    border-radius: 15px;
}

.btn-primary {
    background-color: #1DB954;
    font-family: GothamMedium;
    color: white;
    margin-bottom: 20px;
    border-radius: 15px;

}

.btn-primary:hover {
    background-color: rgb(22, 136, 61);
}

.textContainer {
    background-color: rgba(29, 185, 84, 0.33);
    font-family: GothamMedium;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    display: none;
}

.textInContainer {
    display: none;
    color: rgba(0, 0, 0, 0.68);
}

.lyricContainer {
    overflow: scroll;
    width: auto;
    height: 100%;
}
.tooltip {
    position: absolute;
    text-align: center;
    font: 12px sans-serif;
    /*  pointer-events: none;	This line needs to be removed */
}

.tooltip p {
    color: antiquewhite;
}

.tree {
    font-size: 10px;
}

.highlight {
    background-color: yellow;
}

.unhighlight {
    background-color: transparent;
}

.tooltip2 {
    position: absolute;
    text-align: left;
    font-family: "SuisseIntl";
    font-size: 12px;
    width: 80px;
    height: 52px;
    padding: 8px;
    background: white;
    pointer-events: none;
    background-color: white;
    line-height: 0.05em;
    /* border: solid;
    border-width: 1px; */
}
